<html>
  <head>
    <title>WeDictionary</title>
    <link rel="stylesheet" type="text/css" href="/css/screen.css" media="all" />
  </head>
  <body>
    <div id="content">
      <h1>WeDictionary</h1>
      <h2>概要</h2>
      <p>WeDictionaryは，みんなで作る辞書です．</p>
      <h2>使い方</h2>
      <p><a href="/js/wedictionary.user.js">ここ</a>から，Greasemonkeyをインストールしてください．</p>
      <p>ハイライトされた単語にマウスポインタを合わせると，説明がポップアップします．</p>
      <p>もしくは，単語を選択して，単語を追加することができます．</p>
      <h2>登録されている単語</h2>
      <div class="words">
        <ul class="inline">
          {% for word in words %}
          <li>{{ word.name }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div id="footer">
      <ul class="inline">
        <li>連絡先</li>
        <li><a href="http://twitter.com/hitode909">hitode909</a></li>
        <li><a href="http://twitter.com/mechairoi">mechairoi</a></li>
      </ul>
    </div>
  </body>
</html>
